@font-face {
    font-family: PressGothic;
    src: url(../fonts/PressGothic.otf);
}

@font-face {
    font-family: DDin;
    src: url(../fonts/D-DINExp.otf);
}
@font-face {
    font-family: DDin;
    src: url(../fonts/D-DINExp-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: DDin;
    src: url(../fonts/D-DINExp-Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: DDinCondensed;
    src: url(../fonts/D-DINCondensed.otf);
}

@keyframes fadein {
    from {opacity: 0%;}
    to {opacity: 100%;}
    
}

::-webkit-scrollbar {
    width:.4vw;
}
  
::-webkit-scrollbar-thumb {
    background-color:rgb(78, 78, 78);
    border-radius: 1vw;
}

::selection {
    background-color: #418b05;
}
  

body {
    font-family: 'DDin', 'PressGothic', Arial, 'Courier New', Courier, monospace;
    background-color: black;
    color:white;
    margin:0;
}

.container {
    
    animation: fadein 2s forwards;
    animation-delay: 1s;

    opacity: 0%;
}

.maincontent {
    position: relative;
    height: auto;
    padding-bottom: 5vw;

    z-index: -1;
}

.switcherbackground {
    position: sticky;
    top:0px;
    background-color: black;
    width: 100%;
    height: 90px;
    z-index: 50;
}

.switcher {
    display:flex;
    width:fit-content;
    margin:auto;
    margin-top:1vw;

    z-index: 100;
}

.switcher > h2 {
    margin-top: -.35vw;
    margin-left:10px;
    margin-right:10px;

    font-family: "DDinCondensed";
    letter-spacing: .1vw;
    font-size: 3vw;
}

.toggleswitch {
    position: relative;
    display: inline-block;
    width: 4.8vw;
    height: 2.7vw;
}


.toggleswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
    border-radius: 34px;

}

.slider:hover {
    background-color: #919191;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 2.1vw;
    width: 2.1vw;
    left: .32vw;
    bottom: .32vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #418b05;
}

input:checked + .slider:hover {
    background-color: #2e6303;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(2.1vw);
    -ms-transform: translateX(2.1vw);
    transform: translateX(2.1vw);
}

.cornertitle {
    position: fixed;
    bottom: .5vw;
    left:.5vw;

    font-family: "PressGothic";
    font-size: 2vw;
    z-index: 100;
    line-height: 1.8vw;
    opacity: 50%;

    transition: 1s;

}

.cornertitle:hover {
    line-height: 2vw;
    letter-spacing: .2vw;
    cursor: pointer;
}

a {
    color:white;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: #ccc;
}
