@keyframes startFade {
    from {opacity: 100%;}
    to {opacity: 60%;}
}

body {
    overflow: hidden;
}

#background {
    width: 100%;
    max-height: auto;
    object-fit: fill;

    z-index: 0;
}

#starttext {
    position: absolute;
    font-family: 'DDinCondensed';
    z-index: 1;

    top:40vh;
    left:5vw;
    font-size: 2em;
    letter-spacing:.2vw;

    animation: startFade 2.5s infinite alternate-reverse;

    transition: 1s;
}

#starttext:hover {
    letter-spacing: 1vw;
    cursor: pointer;
}