@keyframes startFade {
    from {opacity: 100%;}
    to {opacity: 60%;}
}

@keyframes fadeout {
    from {opacity: 100%;}
    to {opacity: 0%;}
    
}

#background {
    max-width: 100%;
    max-height: auto;
    object-fit: fill;

    z-index: 0;
}

#starttext {
    position: absolute;
    font-family: "PressGothic";
    z-index: 1;

    bottom:20vh;
    left:10vw;
    font-size: 2em;
    letter-spacing:.4vw;

    animation: startFade 2.5s infinite alternate-reverse;

    transition: 1s;
}

#starttext:hover {
    letter-spacing: 1vw;
    cursor: pointer;
}