
:root {
    --timelinesectionwidth: 17vw;
    --timelinesectionheight: calc(var(--timelinesectionwidth)/ 1.778);
    --topoffset: -9.6vw;

}

.container {
    position: relative;
    
    background-image: url(../images/MainMenuStatic.png);
    background-size:cover;
    background-repeat: no-repeat;

    z-index: 0;
    width:100%;
    height:100vh;
}

.titlesection {
    text-align: center;
}

.title {
    font-family: "Press Gothic";
    font-size:8vw;
    margin:0;
    letter-spacing: .1vw;
}

.switcher {
    display:flex;
    width:fit-content;
    margin:auto;
}

.switcher > h2 {
    margin-top: -.35vw;
    margin-left:10px;
    margin-right:10px;

    font-family: "DDinCondensed";
    letter-spacing: .1vw;
    font-size: 3vw;
}

.toggleswitch {
    position: relative;
    display: inline-block;
    width: 4.8vw;
    height: 2.7vw;
}

.toggleswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
    border-radius: 34px;

}
  
.slider:before {
    position: absolute;
    content: "";
    height: 2.1vw;
    width: 2.1vw;
    left: .32vw;
    bottom: .32vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #418b05;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(2.1vw);
    -ms-transform: translateX(2.1vw);
    transform: translateX(2.1vw);
}

.mainline {
    position: absolute;
    width:90%;
    background-color: white;
    border:2px white solid;
    top:60%;
    left:5%;
}

.TLSection {
    position: absolute;

    background: rgb(17,17,17);
    background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(17,17,17,0.5) 50%, rgba(17,17,17,0) 100%); 
    width:var(--timelinesectionwidth);
    height:var(--timelinesectionheight);

    border: 1px transparent solid;
    border-left: 3px white solid;
    z-index: -1;

    overflow:hidden;
    
}

.TLText > span{
    transition: 1s;
}

.TLSection > .TLText {
    font-size: 3vw;
    margin:auto;
    padding-top:1vw;
    width:95%;
    
    opacity: 60%;

    transition: 1s;
}

.TLSection > img {
    position: absolute;
    opacity: 50%;
    max-width: 100%;

    transition: 1s;
    z-index: -1;

    top:0;
    left: calc(var(--timelinesectionwidth) * -1.2);
}

.TLSection:hover {
    border: 1px white solid;
    border-left: 3px white solid;

    transition: .2s;
    transition-delay: .9s;
}

.TLSection:hover > * {
    opacity: 100%;
}


.TLSection:hover > img {
    left:0;
}

.prologue {
    top:var(--topoffset);
    left:2.5vw;
}

.summer {
    top:.1vw;
    left:30vw;
}

.fall {
    top:var(--topoffset);
    left:44vw;
}

.winter {
    top:.1vw;
    left:58vw;
}

.spring {
    top:var(--topoffset);
    left:72vw;
}